body{
            background-color:lightblue;
        }
        h1{
            font-size: 60px;
            font-family:Papyrus;
        }
        p {
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 30px;
            margin-right: 30px;
            border-width: 5px;
            border-top-color:blueviolet;
            border-right-color: blueviolet;
            border-bottom-color:blueviolet;
            border-left-color: blueviolet;
            border-top-style: dotted;
            border-right-style: solid;
            border-bottom-style: dotted;
            border-left-style: solid;
        }
        .container {
            position: relative;
            text-align: center;
            color: white;
        }
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }